# Function:
    - Block of statements to perform a specific task
    Syntax:
        def function_name(argumnets):
            //statements
            return return_value

# Function Argument types:
    - Default
    - Required or Positional
    - Keyword
    - Variable-Length
        - Orbitary Keyword
        - Orbitary Positional

## Default Argument:

In [3]:
def student(s,r,b = "AI/ML"):
    print(f"Roll Number: {r}")
    print(f"Student Name: {s}")
    print(f"Branch: {b}")
    return

In [4]:
sname = input("Enter Student Name: ")
sroll = input("Enter Roll Number: ")
student(sname,sroll)

Enter Student Name:  Rajesh
Enter Roll Number:  156

Roll Number: 156
Student Name: Rajesh
Branch: AI/ML

In [5]:
def student(r,s,b = "AI/ML"):
    print(f"Roll Number: {r}")
    print(f"Student Name: {s}")
    print(f"Branch: {b}")
    return 

sname = input("Enter Student Name: ")
sroll = input("Enter Roll Number: ")
student(sname,sroll)

Enter Student Name:  kishore
Enter Roll Number:  169

Roll Number: kishore
Student Name: 169
Branch: AI/ML

In [6]:
def student(s,b = "AI/ML",r):
    print(f"Roll Number: {r}")
    print(f"Student Name: {s}")
    print(f"Branch: {b}")
    return 

sname = input("Enter Student Name: ")
sroll = input("Enter Roll Number: ")
student(sname,sroll)

SyntaxError: non-default argument follows default argument (549755348.py, line 1)

In [7]:
def student(s,r=235,b = "AI/ML"):
    print(f"Roll Number: {r}")
    print(f"Student Name: {s}")
    print(f"Branch: {b}")
    return 

sname = input("Enter Student Name: ")
# sroll = input("Enter Roll Number: ")
student(sname)

Enter Student Name:  rajesh

Roll Number: 235
Student Name: rajesh
Branch: AI/ML

In [9]:
def student(s="ram",r=235,b = "AI/ML"):
    print(f"Roll Number: {r}")
    print(f"Student Name: {s}")
    print(f"Branch: {b}")
    return 

# sname = input("Enter Student Name: ")
# sroll = input("Enter Roll Number: ")
student()

Roll Number: 235
Student Name: ram
Branch: AI/ML

## Required Argument

In [1]:
def employee(id,name,salary,age):
    return

eid=input('enter employee id: ')
ename=input('enter employee name: ')
esalary=int(input('enter employee: '))
employee(eid,ename,esalary)

enter employee id:  222u1a3380
enter employee name:  charan
enter employee:  100000

TypeError: employee() missing 1 required positional argument: 'age'

In [3]:
def employee(id,name,salary,age=35):
    print(f'employee id: {id}')
    print(f'employee name: {name}')
    print(f'employee salary: {salary}')
    print(f'employee age: {age}')
    return

eid=input('enter employee id: ')
ename=input('enter employee name: ')
esalary=int(input('enter employee salary: '))
employee(eid,ename,esalary)

enter employee id:  222u1a3380
enter employee name:  charan
enter employee salary:  1000000

employee id: 222u1a3380
employee name: charan
employee salary: 1000000
employee age: 35

In [6]:
def employee(id,name,salary=10000,age=25):
    print(f'employee id: {id}')
    print(f'employee name: {name}')
    print(f'employee salary: {salary}')
    print(f'employee age: {age}')
    return

eid=input('enter employee id: ')
ename=input('enter employee name: ')
# esalary=int(input('enter employee salary: '))
employee(eid,ename)

enter employee id:  222
enter employee name:  sai

employee id: 222
employee name: sai
employee salary: 10000
employee age: 25

## Keyword Argument

In [11]:
def student(s_id,sname,smarks):
    print(f"student id: {s_id}")
    print(f"student name:{sname}")
    print(f"student marks:{smarks}")
    return

a=input("enter student id: ")
b=input("enter student name: ")
c=input("enter student marks: ")
student(s_id=a,sname=b,smarks=c)

enter student id:  2222
enter student name:  fahamid
enter student marks:  40

student id: 2222
student name:fahamid
student marks:40

In [12]:
def student(sname,s_id,smarks):
    print(f"student id: {s_id}")
    print(f"student name:{sname}")
    print(f"student marks:{smarks}")
    return

a=input("enter student id: ")
b=input("enter student name: ")
c=input("enter student marks: ")
student(s_id=a,sname=b,smarks=c)

enter student id:  222
enter student name:  fahamid
enter student marks:  49

student id: 222
student name:fahamid
student marks:49

In [13]:
def student(s_id,sname,smarks,sbranch):
    print(f"student id: {s_id}")
    print(f"student name:{sname}")
    print(f"student marks:{smarks}")
    return

a=input("enter student id: ")
b=input("enter student name: ")
c=input("enter student marks: ")
student(s_id=a,sname=b,smarks=c)

enter student id:  222
enter student name:  fahamid
enter student marks:  47

TypeError: student() missing 1 required positional argument: 'sbranch'

In [14]:
def student(s_id,sname,sbranch,smarks):
    print(f"student id: {s_id}")
    print(f"student name:{sname}")
    print(f"student marks:{smarks}")
    return

a=input("enter student id: ")
b=input("enter student name: ")
c=input("enter student marks: ")
student(s_id=a,sname=b,smarks=c)

enter student id:  22
enter student name:  fahamid
enter student marks:  7854

TypeError: student() missing 1 required positional argument: 'sbranch'

In [15]:
def student(s_id,sname,sbranch='Aiml',smarks):
    print(f"student id: {s_id}")
    print(f"student name:{sname}")
    print(f"student marks:{smarks}")
    return

a=input("enter student id: ")
b=input("enter student name: ")
c=input("enter student marks: ")
student(s_id=a,sname=b,smarks=c)

SyntaxError: non-default argument follows default argument (956309546.py, line 1)

In [17]:
def student(sname,s_id,smarks,sbranch='Aiml'):
    print(f"student id: {s_id}")
    print(f"student name:{sname}")
    print(f"student marks:{smarks}")
    print(f"student branch:{sbranch}")
    return

a=input("enter student id: ")
b=input("enter student name: ")
c=input("enter student marks: ")
student(s_id=a,sname=b,smarks=c)

enter student id:  222
enter student name:  fahamid
enter student marks:  36

student id: 222
student name:fahamid
student marks:36
student branch:Aiml

## Variable-Length Argument

In [31]:
def employee(ename,*esalary):
    print(ename,type(ename))
    print(esalary,type(esalary))
    return

employee('umar',20000,30000,40000)

umar <class 'str'>
(20000, 30000, 40000) <class 'tuple'>

In [30]:
def employee(*esalary):
    print(esalary,type(esalary))
    return

employee('umar',20000,3000,4000)

('umar', 20000, 3000, 4000) <class 'tuple'>

In [34]:
def student(**y):
    print(y,type(y))
    return

student(sname="ted",sroll=22,sbranch="Aiml")

{'sname': 'ted', 'sroll': 22, 'sbranch': 'Aiml'} <class 'dict'>

In [35]:
def student(a,**y):
    print(a,type(a))
    print(y,type(y))
    return

student('22',sname="ted",sroll=22,sbranch="Aiml")

22 <class 'str'>
{'sname': 'ted', 'sroll': 22, 'sbranch': 'Aiml'} <class 'dict'>

In [36]:
def student(a,*b,**y):
    print(a,type(a))
    print(b,type(b))
    print(y,type(y))
    return

student('22',12,15,24,34,52,sname="ted",sroll=22,sbranch="Aiml")

22 <class 'str'>
(12, 15, 24, 34, 52) <class 'tuple'>
{'sname': 'ted', 'sroll': 22, 'sbranch': 'Aiml'} <class 'dict'>

In [37]:
def student(a,*b,**y):
    print(a,type(a))
    print(b,type(b))
    print(y,type(y))
    return

student('22',12,15,24,34,52,sname="ted",sroll=22,12,sbranch="Aiml")

SyntaxError: positional argument follows keyword argument (2618008257.py, line 7)